@import 'tailwindcss';

body {
	@apply m-0;
	background-color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.red-gradient {
	background: linear-gradient(92deg, #ff5956 2.87%, #9d8b8d 96.18%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

:root {
	color-scheme: dark;
}
